body{
  background: url(https://www.toptal.com/designers/subtlepatterns/patterns/doodles.png);
  font-family: Verdana;
  background-attachment:fixed;
  background-position:center
}



        <!--
        /* @group Blink */

        .blink {
            -webkit-animation: blink .75s linear infinite;
            -moz-animation: blink .75s linear infinite;
            -ms-animation: blink .75s linear infinite;
            -o-animation: blink .75s linear infinite;
            animation: blink .75s linear infinite;
        }

        @-webkit-keyframes blink {
            0% {
                opacity: 1;
            }
            50% {
                opacity: 1;
            }
            50.01% {
                opacity: 0;
            }
            100% {
                opacity: 0;
            }
        }

        @-moz-keyframes blink {
            0% {
                opacity: 1;
            }
            50% {
                opacity: 1;
            }
            50.01% {
                opacity: 0;
            }
            100% {
                opacity: 0;
            }
        }

        @-ms-keyframes blink {
            0% {
                opacity: 1;
            }
            50% {
                opacity: 1;
            }
            50.01% {
                opacity: 0;
            }
            100% {
                opacity: 0;
            }
        }

        @-o-keyframes blink {
            0% {
                opacity: 1;
            }
            50% {
                opacity: 1;
            }
            50.01% {
                opacity: 0;
            }
            100% {
                opacity: 0;
            }
        }

        @keyframes blink {
            0% {
                opacity: 1;
            }
            50% {
                opacity: 1;
            }
            50.01% {
                opacity: 0;
            }
            100% {
                opacity: 0;
            }
        }
        /* @end */

        -->


        body {
            margin: 50px;
            padding: 50px;
        }

        #spinner {
            position: relative;
            top: 5px;
            left: 5px;
            /* background-color: red; */
            max-width: 500px;
            width: 400px;
            height: 500px;
            z-index: 0;
        }

        #pointer {
            position: relative;
                width: 48px;
                height: 49px;
                right:-219px;
                top: -213px;
                size: 300px;
            
        }
        #pointer > img{
          width: 48px;
        }

        #piechart {
            display: block;
            margin: auto;
            position: relative;
            max-width: 400px;
            z-index: -1;
        }

		 #yelpform {
            display: block;
            margin: auto;
            position: absolute;
            top: 80px;
            left: 60px; 

            /*
            border: 1px solid gray;
            border-radius: 10px;
            padding: 10px 10px 10px 10px;
            background: rgba(27, 26, 26, 0.22);
            */
        }

		#mannualLoad {
          display: block;
          margin: auto;
          position: absolute;
          top: 80px;
          right: 50px;
          /*
          border: 1px solid gray;
          border-radius: 10px;
          padding: 10px 10px 10px 10px;
          background: rgba(27, 26, 26, 0.22);
          */
        }

        #choice {
            background-color: rgba(128, 128, 128, 0.61) !important;
            font: 50px Montserrat, sans-serif;
            text-align: center;
            margin-top: 20px;
            border-radius: 10px;
        }

        #spinit {
            background-color: rgba(128, 128, 128, 0.61) !important;
            font: 50px arial, sans-serif;
            text-align: center;
            margin-top: 20px;
        }

        #demo {
          background: #ececec;
          margin: 5px;
          padding: 10px;
          line-height: 10px;
          margin-top: 40px;
          visibility: hidden;
        }


.debug{
	display: block;
	position: absolute;
	top: 1px;
	left: 1px;
	background: rgba(128, 128, 128, 0.27);
	color: white;
	border: 1px solid gray;
	border-radius: 10px;
	padding: 10px 10px 10px 10px;
	font-size: 21px;
	font-family: Verdana;
}

input{
  width: 90%;
}


/* Animation */
@import url(https://fonts.googleapis.com/css?family=Montserrat);

.title{
  position: relative;
  text-align: center;
  top: 0;
  margin-top: -147px;
}
svg {
    display: block;
    font: 7.5em 'Montserrat';
    font-weight: bold;
    width: 960px;
    height: 130px;
    margin: 0 auto;
}

.text-copy {
    fill: none;
    stroke: white;
    stroke-dasharray: 6% 29%;
    stroke-width: 5px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1){
	stroke: black;
	animation-delay: -1;
}

.text-copy:nth-child(2){
	stroke: white;
	animation-delay: -2s;
}

.text-copy:nth-child(3){
	stroke: red;
	animation-delay: -3s;
}

.text-copy:nth-child(4){
	stroke: #a00505;
	animation-delay: -4s;
}

.text-copy:nth-child(5){
	stroke: red;
	animation-delay: -5s;
}

@keyframes stroke-offset{
	100% {stroke-dashoffset: -35%;}
}



/* CSS for auto-complete */
#locationField, #controls {
        position: relative;
        width: 480px;
      }
      /*
#autocomplete {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 99%;
}
*/
.label {
  text-align: right;
  font-weight: bold;
  width: 100px;
  color: #303030;
}
#address {
  border: 1px solid #000090;
  background-color: #f0f0ff;
  width: 480px;
  padding-right: 2px;
}
#address td {
  font-size: 10pt;
}
.field {
  width: 99%;
}
.slimField {
  width: 80px;
}
.wideField {
  width: 200px;
}
#locationField {
  height: 20px;
  margin-bottom: 2px;
}

.loading{

}

  hr {
    border-top: 1px solid rgba(136, 135, 135, 0.62);
    box-shadow: -1px 0px 7px grey;
}


button {
font-size: 15px !important;
}